<launch>

  <!--  Apriltag detector -->
  <include file="$(find apriltags_ros)/launch/apriltags_detector.launch">
    <arg name="tag_family" value="36h11" />
    <arg name="tag_detections_topic" value="tag_detections" />
    <arg name="tag_detections_image_topic" value="tag_detections_image" />
    <arg name="pub_tag_frames_flag" value="false" />

    <arg name="tag_descriptions" value="[
      {id: 0, size: 0.081, frame_id: tag_0},
      {id: 1, size: 0.161, frame_id: tag_1}]"
    />
  </include>


  <!--  Rviz -->
  <arg name="rvizconfig" value="$(find vision_test)/rviz/config.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!--  State publisher -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find vision_test)/urdf/scene.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node pkg="vision_test" type="apriltag_detect_test" name="apriltag_detect_test_node" output="screen" cwd="node">
    <rosparam>

    </rosparam>
  </node>

</launch>
