<?xml version="1.0"?>

<launch>

  <!-- Start ur_controller -->
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="10.0"/>
  <arg name="prefix" default="" />

  <!-- robot model -->
  <arg name="limited" default="false"/>
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro.py '$(find ur_description)/urdf/ur5_robot.urdf.xacro' limited:=$(arg limited)" />

  <!-- Launch visualization in rviz -->
  <arg name="rvizconfig" default="$(find ur_robot)/rviz/ur_cfg.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true"/>

    <!-- test node -->
    <node pkg="ur_test" type="test_ur" name="test_ur_node" output="screen" cwd="node">

      <rosparam>
          robot_ip: "10.0.0.1" # "localhost"
      </rosparam>


    </node>

</launch>
