<launch>

  <node pkg="dmp_test" type="dmp_std_test" name="dmp_std_test" output="screen">

    <rosparam>
      train_data_file: "dmp_std_train_data.bin"
      sim_data_file: "dmp_std_sim_data.bin"
      a_z: 20
      b_z: 5
      N_kernels: 60
      train_method: "LWR"
      ks: 1.0
      kt: 1.0
    </rosparam>

  </node>

</launch>
