<?xml version="1.0"?>
<launch>

  <!--
  =====  Load Robot description  =====
  -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find bhand_test)/urdf/bh282_robot_test.xacro'" />

  <!-- Set the name of the topic for publishing the joints states -->
  <arg name="publish_states_topic" default="/robot_joint_states" />

  <!--
  =====  Launch joint_state_publisher, robot_state_publisher and rviz  =====
  -->
  <!-- <include file="$(find bh282)/launch/common.launch" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true">
    <rosparam param="source_list" subst_value="true">[$(arg publish_states_topic)]</rosparam>
    <rosparam>
      rate: 50
      use_gui: true
    </rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find bhand_test)/rviz/bh282_robot_test.rviz" output="screen" required="true"/>

  <!--
  =====  Launch execution node  =====
  -->
  <node name="bh282_robot_test_node"
        pkg="bhand_test"
        type="bh282_robot_test"
        required="true" respawn="false" cwd="node" output="screen">

        <rosparam param="publish_states_topic" subst_value="true">$(arg publish_states_topic)</rosparam>

        <rosparam>
          robot_description_name: "/robot_description"
          base_link: "bh282_base_link"
          tool_link: ["bh282_finger_1_tip_link", "bh282_finger_2_tip_link", "bh282_finger_3_tip_link"]
          ctrl_cycle: 0.005

          <!-- spread, fing1, fing2, fing3 -->
          q1: [0.4, 0.3, 0.25, 0.22]
          q2: [1.4, 1.3, 1.25, 1.3]
          time_duration: 2.5 <!-- duration to move from q1 to q2 and vice versa -->
          use_sim: true
        </rosparam>

  </node>

</launch>
