<launch>

  <node pkg="gmp_test" type="test_orient_gmp" name="test_orient_gmp_node" output="screen" cwd="node">

    <rosparam>
      train_data_file: "gmp_orient_train_data.bin"
      sim_data_file: "gmp_orient_sim_data.bin"
      N_kernels: 50
      D: 5
      K: 20
      kernels_std_scaling: 2
      train_method: "LS" # {LWR, LS}
      ks: 1.5
      kt: 1.3
      sim_fun: "quat" # {log, quat}
    </rosparam>

  </node>

</launch>
