<launch>

  <node pkg="gmp_test" type="test_orient_gmp" name="test_orient_gmp_node" output="screen" cwd="node">

    <rosparam>
      train_data_file: "gmp_orient_train_data.bin"
      sim_data_file: "gmp_orient_sim_data.bin"
      N_kernels: 30
      D: 4
      K: 12
      kernels_std_scaling: 1
      train_method: "LS" # {LWR, LS}
      ks: 1.0
      kt: 1.0
      sim_fun: "log" # {log, quat}
    </rosparam>

  </node>

</launch>
